@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Kanit';
    background-color: black;
    background-image: url(https://i.gifer.com/origin/8a/8a39cf9d423e06c17971bf3cbf288b0d_w200.webp);
    /* background-image: url(https://i.pinimg.com/564x/57/e0/38/57e038b501289171c0dffd86edc25aa5.jpg); */
}

.greentopic {
    color: greenyellow;
    text-align: center;
    margin-top: 60px;
}

.content {
    color: white;
}

/* exercise */
.card {
    text-align: center;
    margin-top: 50px;
    border: 3px solid greenyellow;
    background-image: url(https://i.pinimg.com/564x/57/e0/38/57e038b501289171c0dffd86edc25aa5.jpg);
}

.card-body {
    color: aliceblue;
}

.card:hover {
    transform: scale(1.1);
}

.btn-primary {
    background-color: greenyellow;
    color: black;
    border: 2px solid white;
}

.exercisebg {
    display: flex;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.7);
}

/* navbar */
.navbar {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.namelogo {
    color: aliceblue;
    font-size: 20px;
    padding-top: 10px;
}

.nav-link {
    color: greenyellow;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    color: white;
}

.navbar-brand {
    color: white;
    transition: background-color 0.3s ease;
}

.navbar-brand:hover {
    color: greenyellow;
}

/* home */
.home1 {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 70px;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_1280.jpg);
}

.topichead1 {
    color: greenyellow;
}

.boxText1 {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.text-center {
    margin-top: 100px;
}

.myname {
    margin-top: 60px;
    color: white;
    text-align: center;
}

/* aboutme */
.abcontent {
    position: relative;
    height: 550px;
    margin-top: 50px;
    border: 3px solid greenyellow;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.about-content {
    margin-top: 50px;
    margin-left: 30px;
    color: aliceblue;
}

strong {
    font-size: 20px;
    color: greenyellow;
}

.imgAbout {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}

/* ยานอวกาศ */
.zoom-image {
    margin-top: 80px;
    padding-left: 50px;
    transition: transform 1.0s ease;
}

.zoom-image:hover {
    transform: scale(1.6);
    margin-top: 80px;
    padding-left: 50px;
}

/* footer */

.footer {
    height: auto;
    /* width: 98%; */
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_1280.jpg);
    background-size: 100%;
    border-top: 2px solid greenyellow;
}

.footer-icon {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

.footer-content {
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin-bottom: 30px;
}

.name-icon {
    font-size: 20px;
}

.navbar-toggler-icon {
    background-color: greenyellow;
    border-radius: 5px;
}

a {
    color: aliceblue;
}

a:hover {
    color: #adff2f;
}

.typewriter h1 {
    color: white;
    overflow: hidden;
    border-right: .15em solid greenyellow; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 4s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:greenyellow }
  }
  audio{
    height: 30px;
  }
  audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-pause-button {
    background-color:greenyellow;
    border-radius: 100%;
  }
/* ขนาด mobile */
@media (max-width: 768px) {
    .boxText1 {
        text-align: center;
    }

    .zoom-image {
        display: none;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .myname {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
    }

    .greentopic {
        font-size: 30px;
    }

    .card {
        margin: 0 auto;
        margin-top: 30px;
    }

    .footer {
        margin-top: 30px;
        height: 100px;
    }

    .abcontent {
        height: 500px;
    }
    .footer-content {
        display: none;
    }

    .footer {
        padding-top: 40px;
        height: 430px;
    }

    .footer-icon {
        padding: 0px;
        margin: 0px;
        font-size: 30px;
    }

    .name-icon {
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .namelogo {
        font-size: 20px;
    }
    .imgg{
        display: none;
    }

    .imgAbout {
        width: 200px;
        display: none; /* hide image on mobile */
    }

    .abcontent {
        height: 880px;
    }

    .about-content {
        text-align: center;
        margin-left: 0px;
    }
    .typewriter{
        margin-top: 30px;
    }
    .myname{
        font-size: 16px;
    }
    .topichead1{
        font-size: 35px;
    }
    audio{
        display: none;
    }
}
