@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.content{
    color: darkblue;
}

body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: lightskyblue;
}

.navbar-brand{
    color: gray;
}
.bg-body-tertiary {
    background-color: white !important
}
.mybtn{
    background-color: blue;
    color: aliceblue;
}
.portfolio{
    background-color: goldenrod;
}
.bi-pc-display,.bi-file-earmark-text-fill,.bi-cup-hot-fill{
    color: cornflowerblue;
    font-size: 80px;
}
.topic{
    font-weight: bold;
}
.bluetopic{
    color: cornflowerblue;
}
.figure-container {
    display: flex;
    gap: 20px;
}
.port{
    color: aliceblue;
    font-size: 60px;
}
.home1{
    height: 600px;
    background-color: lightgray;
}
.card{
    text-align: center;
}
.exercisebg{
    display: inline-flexbox;
    width: auto;
    background-color: aliceblue;
}
.bg-body-tertiary1{
    background-color: white;
}
